body {
  background-color: #fdedcf;
}

.body-color-blue {
  color: #123455;
}

.body-color-yellow {
  color: #fdedcf;
}

.bg-custom-beige {
  background-color: #fdedcf;
}

.bg-custom-grey {
  background-color: #dcdcdc;
}


.bg-custom-blue {
  background-color: #123455;
}
.bg-custom-grey {
  background-color: #dcdcdc;
}

.custom-rounded-corners {
  border-radius: 50px;
}

.custom-rounded-corners-small {
  border-radius: 15px;
}
